.card { width:140px; 
        height:196px; 
        float:right;
    }
.card .card-bg { 
    fill:#fff; 
    stroke:#222; 
    stroke-width:3px; 
}

.idx, .suit, .pip, .face { fill: currentColor; }

svg.card.red   { color: #c1121f; }
svg.card.black { color: #111; }



.idx { font: 700 18px ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Color Emoji"; }
.suit { font: 700 18px ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Color Emoji"; }
.pip { font: 700 28px ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Color Emoji"; text-anchor: middle; dominant-baseline: middle; }
.face { font: 900 84px ui-serif, Georgia, "Times New Roman", serif; }
