.hand {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.card {
  width: 140px;
  height: 196px;
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

svg.card.red  .idx,
svg.card.red  .suit,
svg.card.red  .pip,
svg.card.red  .face { fill:#c1121f !important; }

svg.card.black .idx,
svg.card.black .suit,
svg.card.black .pip,
svg.card.black .face { fill:#111 !important; }

.standard-mat{
  fill: blue;
}

.idx,.suit,.pip,.face{
  font-family: ui-sans-serif,system-ui,-apple-system,"Segoe UI",Roboto,Arial,sans-serif;
}

.idx{
  font:700 18px ui-sans-serif, system-ui, -apple-system,"Segoe UI", Roboto, Arial, sans-serif
}

.suit{
  font:700 18px ui-sans-serif, system-ui,-apple-system,"Segoe UI", Roboto, Arial, sans-serif
}

.pip{
  font:700 28px ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  text-anchor:middle;
  dominant-baseline:middle
}

.face{
  font:900 84px ui-serif, Georgia, "Times New Roman", serif}